{{!-- includes/hero.hbs --}}
<div class="header-wraper">
  <div class="menu-wraper">
<div class="menu-view-container" id="menu-view-container-partner">
  <div class="menu-view-filters">


      <a class="menu-wraper-button-container" href="/create-partner">
        <div class="btn-add-partner">
          <div class="btn-add-partner-box">
            <p>Add New Partner</p>
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Statistics" transform="translate(-238.000000, -150.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <g id="Group" transform="translate(67.000000, 145.000000)">
                            <g id="plus-(3)" transform="translate(171.000000, 5.000000)">
                                <path d="M8,0 C3.58892308,0 0,3.58861538 0,8 C0,12.4113846 3.58892308,16 8,16 C12.4110769,16 16,12.4113846 16,8 C16,3.58861538 12.4110769,0 8,0 Z M11.8461538,8.61538462 L8.61538462,8.61538462 L8.61538462,12 C8.61538462,12.3396923 8.33969231,12.6153846 8,12.6153846 C7.66030769,12.6153846 7.38461538,12.3396923 7.38461538,12 L7.38461538,8.61538462 L4.15384615,8.61538462 C3.81415385,8.61538462 3.53846154,8.33969231 3.53846154,8 C3.53846154,7.66030769 3.81415385,7.38461538 4.15384615,7.38461538 L7.38461538,7.38461538 L7.38461538,4.30769231 C7.38461538,3.968 7.66030769,3.69230769 8,3.69230769 C8.33969231,3.69230769 8.61538462,3.968 8.61538462,4.30769231 L8.61538462,7.38461538 L11.8461538,7.38461538 C12.1858462,7.38461538 12.4615385,7.66030769 12.4615385,8 C12.4615385,8.33969231 12.1858462,8.61538462 11.8461538,8.61538462 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </div>
        </div>
      </a>
    </div>
      <a class="menu-wraper-button-container searchfilter">
        {{!-- <div class="btn-search-container"> --}}
          <div class="btn-search">
            <input type="text" autofocus="false"  style="    border: none;" placeholder="Search for events..."/>
            <svg width="19px" height="19px" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-1151 -36)" fill-rule="nonzero" fill="#7C7C7C">
                  <g transform="translate(1151 36)">
                    <path d="M18.835662 18.0310421l-4.6183189-4.6172949c1.2388556-1.4239468 1.9889111-3.2818182 1.9889111-5.31241682C16.2062542 3.63148558 12.5697494 0 8.10312708 0 3.63229098 0 0 3.63569845 0 8.10133038c0 4.46563192 3.63650477 8.10133042 8.10312708 8.10133042 2.03104902 0 3.88933242-.7498892 5.31359502-1.9884701l4.6183189 4.6172949C18.1445997 18.94102 18.2920825 19 18.4353515 19c.143269 0 .2907518-.0547672.4003105-.1685144.2191173-.2190687.2191173-.5813747 0-.8004435zM1.13351076 8.10133038c0-3.8421286 3.1266356-6.9638581 6.96540252-6.9638581 3.84298072 0 6.96540252 3.12594235 6.96540252 6.9638581 0 3.83791572-3.1224218 6.96807092-6.96540252 6.96807092-3.8387669 0-6.96540252-3.1259423-6.96540252-6.96807092z"/>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        {{!-- </div> --}}
      </a>
  </div>

      <div class="user btnEditUser" id="btnEditUser" >
        <img src="../../.././images/mask.jpg" />
        <span>John Doe</span>
        <svg width="17px" height="9px" viewBox="0 0 17 9" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(-1383 -43)" fill-rule="nonzero" fill="#4E5058">
              <g transform="translate(1383 43)">
                <path d="M16.8260598.17391304c-.2343054-.23188405-.6150518-.23188405-.8493572 0l-7.4684861 7.4057971L1.02508632.17391304c-.23430544-.23188405-.6150518-.23188405-.84935724 0-.23430544.23188406-.23430544.60869566 0 .8405797l7.8931647 7.81159422C8.18604652 8.942029 8.33248742 9 8.49357242 9c.1464409 0 .3075259-.057971.42467863-.17391304l7.89316467-7.8115942c.2489496-.23188406.2489496-.60869566.0146441-.84057972z"/>
              </g>
            </g>
          </g>
        </svg>

      </div>
      <div class="editUser" id="editUser">
        <ul>
          <li>
            <p>John Doe</p>
            <svg  id="btnCloseEditUser" width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="User-Navigation" transform="translate(-196.000000, -20.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <g id="close" transform="translate(196.000000, 20.000000)">
                            <path d="M8.23814388,7.00014593 L13.74347,1.49459026 C14.08551,1.15282787 14.08551,0.598303071 13.74347,0.256540683 C13.40143,-0.0855135608 12.847512,-0.0855135608 12.5054721,0.256540683 L7.00014592,5.76209635 L1.49452794,0.256540683 C1.15248796,-0.0855135608 0.598569969,-0.0855135608 0.256529987,0.256540683 C-0.0855099956,0.598303071 -0.0855099956,1.15282787 0.256529987,1.49459026 L5.76214796,7.00014593 L0.256529987,12.5057016 C-0.0855099956,12.847464 -0.0855099956,13.4019888 0.256529987,13.7437512 C0.427549978,13.9144864 0.651685393,14 0.875528965,14 C1.09937254,14 1.32350795,13.9144864 1.49452794,13.7434593 L7.00014592,8.23790365 L12.5054721,13.7434593 C12.676492,13.9144864 12.9006275,14 13.124471,14 C13.3483146,14 13.57245,13.9144864 13.74347,13.7434593 C14.08551,13.4016969 14.08551,12.8471721 13.74347,12.5054097 L8.23814388,7.00014593 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </svg>
          </li>
          <li>
            <a href="#">
              <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="User-Navigation" transform="translate(-20.000000, -61.000000)" fill="#FFFFFF">
                          <g id="Group-30" transform="translate(20.000000, 61.000000)">
                              <g id="settings-work-tool-(2)">
                                  <path d="M21.9311598,9.77857832 C21.8963702,9.46932651 21.5357858,9.23693745 21.2239888,9.23693745 C20.2159078,9.23693745 19.3213639,8.64503703 18.9462088,7.72964188 C18.5629498,6.79206375 18.810079,5.69863189 19.5613715,5.0094866 C19.7978592,4.79330502 19.8265913,4.43141983 19.6282494,4.18004019 C19.1122986,3.52486512 18.5258681,2.93304656 17.885575,2.42013713 C17.6348441,2.21893519 17.2669743,2.24692993 17.0495596,2.4876683 C16.3938772,3.21381249 15.2161047,3.48369157 14.3060077,3.10396179 C13.358911,2.70556885 12.7616752,1.74588962 12.8201218,0.715732414 C12.8393584,0.392155819 12.6028707,0.110816898 12.2802685,0.0732450139 C11.4585781,-0.0217897512 10.6296843,-0.0247365657 9.80553821,0.0666965374 C9.48661954,0.101894599 9.25013186,0.376603188 9.26085525,0.696086985 C9.29670905,1.71609405 8.69226977,2.65899281 7.75458669,3.04306096 C6.85537685,3.41034864 5.68587198,3.14276152 5.03149934,2.42308395 C4.81523058,2.1860291 4.45333648,2.15688838 4.20137763,2.35326082 C3.54209352,2.8705086 2.94248386,3.4628183 2.42178529,4.11259088 C2.21869566,4.36519837 2.24857382,4.73134006 2.48743539,4.94866762 C3.25305301,5.64198757 3.50026409,6.74491472 3.1025162,7.69329783 C2.72277706,8.59747872 1.7838661,9.18021128 0.708989056,9.18021128 C0.360192231,9.16899701 0.111753282,9.40310505 0.0736074665,9.72021502 C-0.023148658,10.5466328 -0.0242946697,11.388685 0.0688597041,12.2218149 C0.103403769,12.5323764 0.47495711,12.7627191 0.790192166,12.7627191 C1.74809417,12.7382441 2.6677685,13.3312905 3.05356513,14.2700965 C3.43813389,15.2076746 3.19092281,16.3004516 2.43848432,16.9901699 C2.20314264,17.2063515 2.17326448,17.5676637 2.37160635,17.8190433 C2.88272754,18.4700437 3.46923992,19.0624353 4.11182501,19.5796012 C4.36386571,19.7826859 4.73058943,19.7540363 4.94906836,19.5132979 C5.60720647,18.7853529 6.78489713,18.5159649 7.69139233,18.8964314 C8.64086296,19.2935965 9.23809874,20.2531939 9.17965214,21.2839241 C9.16057924,21.6076644 9.39821293,21.8894945 9.71950548,21.9264934 C10.1398462,21.9755251 10.5627245,22 10.9867488,22 C11.3892444,22 11.7918219,21.9778989 12.1943176,21.9331237 C12.5133181,21.8979256 12.7496421,21.623217 12.7389187,21.3031602 C12.7020007,20.2837262 13.3075042,19.3408274 14.2439594,18.9574141 C15.1492267,18.5876708 16.3138201,18.8582865 16.9682746,19.5772274 C17.1857712,19.8137911 17.5451277,19.8423589 17.7984782,19.6466413 C18.4565344,19.1306213 19.0549162,18.5388027 19.5780705,17.8872293 C19.7810783,17.6351948 19.752428,17.2684802 19.5123386,17.0512345 C18.7467209,16.3579145 18.498282,15.2548236 18.8960299,14.3070954 C19.2699571,13.4149473 20.1739966,12.8159254 21.1463874,12.8159254 L21.2824354,12.8194452 C21.5978341,12.8450661 21.8880207,12.6021177 21.9262483,12.2801782 C22.0231682,11.4530238 22.0243142,10.6117082 21.9311598,9.77857832 Z M11.0174455,14.6923914 C8.99408012,14.6923914 7.34824371,13.0465955 7.34824371,11.02328 C7.34824371,9.00004632 8.99408012,7.35416861 11.0174455,7.35416861 C13.040729,7.35416861 14.6865654,9.00004632 14.6865654,11.02328 C14.6865654,13.0465955 13.040729,14.6923914 11.0174455,14.6923914 Z" id="Shape"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
              <p>Account settings</p>
            </a>
          </li>
          <li>
            <a href="/create-user">
              <svg width="30px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Mobile-Copy-2" transform="translate(-29.000000, -74.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g id="noun_1412002_cc" transform="translate(0.000000, 74.000000)">
                              <g id="Group" transform="translate(29.000000, 0.000000)">
                                  <g id="Shape">
                                      <path d="M23.1470229,37 L0.9927864,37 C0.4523621,37 0,36.5522847 0,36 C0,27.163444 7.163444,20 16,20 C19.6709997,20 23.0532457,21.2363018 25.7530949,23.3152624 C27.378998,22.1715312 29.3610768,21.5 31.5,21.5 C37.0228475,21.5 41.5,25.9771525 41.5,31.5 C41.5,37.0228475 37.0228475,41.5 31.5,41.5 C28.0089694,41.5 24.9357559,39.7111122 23.1470229,37 Z M16,18 C11.0294373,18 7,13.9705627 7,9 C7,4.0294373 11.0294373,0 16,0 C20.9705627,0 25,4.0294373 25,9 C25,13.9705627 20.9705627,18 16,18 Z M31.5,38.5 C35.3659932,38.5 38.5,35.3659932 38.5,31.5 C38.5,27.6340068 35.3659932,24.5 31.5,24.5 C27.6340068,24.5 24.5,27.6340068 24.5,31.5 C24.5,35.3659932 27.6340068,38.5 31.5,38.5 Z M33,29.75 C33,29.8880712 33.1119288,30 33.25,30 L34.5,30 C35.3284271,30 36,30.6715729 36,31.5 C36,32.3284271 35.3284271,33 34.5,33 L33.25,33 C33.1119288,33 33,33.1119288 33,33.25 L33,34.5 C33,35.3284271 32.3284271,36 31.5,36 C30.6715729,36 30,35.3284271 30,34.5 L30,33.25 C30,33.1119288 29.8880712,33 29.75,33 L28.5,33 C27.6715729,33 27,32.3284271 27,31.5 C27,30.6715729 27.6715729,30 28.5,30 L29.75,30 C29.8880712,30 30,29.8880712 30,29.75 L30,28.5 C30,27.6715729 30.6715729,27 31.5,27 C32.3284271,27 33,27.6715729 33,28.5 L33,29.75 Z"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
              <p>Create new user</p>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="User-Navigation" transform="translate(-20.000000, -146.000000)">
                          <g id="Group-30" transform="translate(20.000000, 61.000000)">
                              <g id="Group-27" transform="translate(0.000000, 85.000000)">
                                  <g id="info">
                                      <circle id="Oval" fill="#FFFFFF" fill-rule="nonzero" cx="11" cy="11" r="11"></circle>
                                      <path d="M11,16.28 L11,17.16" id="Shape" stroke="#2C3E50" stroke-width="3" stroke-linecap="round"></path>
                                      <path d="M7.92,7.04 C7.92,5.32444 9.32272,3.93624 11.044,3.96044 C12.67948,3.98332 14.05712,5.36052 14.08,6.99644 C14.0954,8.10128 13.52912,9.07456 12.6676,9.63028 C11.5962,10.32108 11,11.55484 11,12.82952 L11,14.08" id="Shape" stroke="#2C3E50" stroke-width="2" stroke-linecap="round"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
              <p>Help</p>
            </a>
          </li>
        </ul>
        <button id="btnLogout">
          <a href="/">
          <svg width="25px" height="19px" viewBox="0 0 25 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="User-Navigation" transform="translate(-74.000000, -207.000000)" fill="#4E5058" fill-rule="nonzero">
                      <g id="Group-26" transform="translate(74.000000, 207.000000)">
                          <g id="logout">
                              <path d="M0,3.16836735 L0,15.8316327 C0,17.5765306 1.4598338,19 3.24930748,19 L13.7454601,19 C15.5349338,19 16.9947676,17.5765306 16.9947676,15.8316327 L16.9947676,13.7806122 C16.9947676,13.4336735 16.7069868,13.1530612 16.351185,13.1530612 C15.9953832,13.1530612 15.7076023,13.4336735 15.7076023,13.7806122 L15.7076023,15.8316327 C15.7076023,16.8877551 14.8233303,17.75 13.7402278,17.75 L3.24930748,17.75 C2.16620499,17.75 1.2819329,16.8877551 1.2819329,15.8316327 L1.2819329,3.16836735 C1.2819329,2.1122449 2.16620499,1.25 3.24930748,1.25 L13.7454601,1.25 C14.8285626,1.25 15.7128347,2.1122449 15.7128347,3.16836735 L15.7128347,5.21938776 C15.7128347,5.56632653 16.0006156,5.84693878 16.3564174,5.84693878 C16.7122191,5.84693878 17,5.56632653 17,5.21938776 L17,3.16836735 C17,1.42346939 15.5401662,0 13.7506925,0 L3.24930748,0 C1.4598338,3.62521804e-16 0,1.41836735 0,3.16836735 Z" id="Shape"></path>
                              <path d="M19.459507,14.8127925 C19.5862676,14.9375975 19.75,15 19.9190141,15 C20.0880282,15 20.2517606,14.9375975 20.3785211,14.8127925 L24.8098592,10.449818 C25.0633803,10.200208 25.0633803,9.79979199 24.8098592,9.55018201 L20.3785211,5.18720749 C20.125,4.9375975 19.7183099,4.9375975 19.4647887,5.18720749 C19.2112676,5.43681747 19.2112676,5.83723349 19.4647887,6.08684347 L22.7922535,9.36297452 L10.6496479,9.36297452 C10.290493,9.36297452 10,9.64898596 10,10.0026001 C10,10.3562142 10.290493,10.6422257 10.6496479,10.6422257 L22.7869718,10.6422257 L19.459507,13.9183567 C19.2059859,14.1627665 19.2059859,14.5683827 19.459507,14.8127925 Z" id="Shape"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
          <p>Logout</p>
          </a>
        </button>
      </div>


  </div>

</div>
