{{!-- includes/menu.hbs --}}
<div class="menu-wraper">
  <div class="menu-logo">
    <span class="icon logo">Logo</span>
  </div>

  <nav  id="menu" class="nav">
  	<ul>
  		<li>
  			<a  href="#">
  				<span  class="icon"> <i aria-hidden="true"  class="icon-events"></i></span><span>Events</span>
  			</a>
  		</li>
  		<li>
  			<a href="#">
          <span class="icon"> <i aria-hidden="true" class="icon-partners"></i></span><span>Partners</span>
        </a>
  		</li>
  	</ul>
  </nav>
</div>
