<div  id="sidebarMobile" class="sidebarMobile">
  <div class="sidebarMobileContainer"></div>
  <div class="sidebarMobile-container">
  <div class="icons-container">

      <div class="burger" id="btnSidebarMobile">
          <svg width="36px" height="30px" viewBox="0 0 36 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Events" transform="translate(-20.000000, -15.000000)" fill-rule="nonzero" fill="#FFFFFF">
                      <g id="menu-(2)" transform="translate(20.000000, 15.000000)">
                          <path d="M36,1.5 C36,0.6 35.4,0 34.5,0 L1.5,0 C0.6,0 0,0.6 0,1.5 L0,4.5 C0,5.4 0.6,6 1.5,6 L34.5,6 C35.4,6 36,5.4 36,4.5 L36,1.5 Z" id="Shape"></path>
                          <path d="M36,13.5 C36,12.6 35.4,12 34.5,12 L1.5,12 C0.6,12 0,12.6 0,13.5 L0,16.5 C0,17.4 0.6,18 1.5,18 L34.5,18 C35.4,18 36,17.4 36,16.5 L36,13.5 Z" id="Shape"></path>
                          <path d="M36,25.5 C36,24.6 35.4,24 34.5,24 L1.5,24 C0.6,24 0,24.6 0,25.5 L0,28.5 C0,29.4 0.6,30 1.5,30 L34.5,30 C35.4,30 36,29.4 36,28.5 L36,25.5 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </svg>
      </div>


    <div class="logo-mobile">
      <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Events" transform="translate(-142.000000, -12.000000)" fill="#E74C3C">
                  <g id="Group-2" transform="translate(142.000000, 12.000000)">
                      <g id="check-box" transform="translate(18.000000, 18.000000) rotate(-180.000000) translate(-18.000000, -18.000000) " fill-rule="nonzero">
                          <path d="M32,32 L4,32 L4,4 L24,4 L24,0 L4,0 C1.8,0 0,1.8 0,4 L0,32 C0,34.2 1.8,36 4,36 L32,36 C34.2,36 36,34.2 36,32 L36,16 L32,16 L32,32 Z" id="Shape"></path>
                      </g>
                      <text id="N" transform="translate(17.500000, 18.500000) rotate(-180.000000) translate(-17.500000, -18.500000) " font-family="Raleway-SemiBold, Raleway" font-size="24" font-weight="500">
                          <tspan x="8.296" y="27">N</tspan>
                      </text>
                  </g>
              </g>
          </g>
      </svg>
    </div>


    <div class="userMobile">
      <img href="../../.././images/mask.jpg" />
      {{!-- <svg width="17px" height="9px" viewBox="0 0 17 9" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <g transform="translate(-1383 -43)" fill-rule="nonzero" fill="#4E5058">
            <g transform="translate(1383 43)">
              <path d="M16.8260598.17391304c-.2343054-.23188405-.6150518-.23188405-.8493572 0l-7.4684861 7.4057971L1.02508632.17391304c-.23430544-.23188405-.6150518-.23188405-.84935724 0-.23430544.23188406-.23430544.60869566 0 .8405797l7.8931647 7.81159422C8.18604652 8.942029 8.33248742 9 8.49357242 9c.1464409 0 .3075259-.057971.42467863-.17391304l7.89316467-7.8115942c.2489496-.23188406.2489496-.60869566.0146441-.84057972z"/>
            </g>
          </g>
        </g>
      </svg> --}}
    </div>


  </div>





</div>
  <div class="break"></div>
</div>
