.sidebar{
  background: $primaryBlue;
  color:white;
  height:100vh;
  width:160px;
  z-index: 1;
  position: fixed;
  transition: width 0.3s ease-in;
}
.sidebar-is-collapsed{
  width: 80px;
  transition: width 0.3s ease-out;
}
.sidebar-menu {
  display: flex;
  ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    li:nth-child(1){
      background: white;
      padding: 5px 0px;
      min-height: 56px;
      a{
        flex-direction: row-reverse;
        color: $primaryBlue;
        display: flex;
        align-items: baseline;
      }
      .sidebar-icon-create-event{
        padding-left: 10px;
      }
    }
    li{
      width: 100%;
      margin: 15px 0px;
      a{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       color:white;
       text-decoration: none;
       padding: 0 10px;
     }
    }
  }
}

.sidebar-icon-create-event svg {
  margin-top: 20px;
}

.logo{
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
}
.btn-sidebar-menu-collapsed{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  p{
    color: white;
  }
}
#btn-sidebar-is-collapsed{
      cursor: pointer;
}


#tech{
  opacity:1;
  animation: expandTechText 0.2s alternate;
}
@keyframes expandTechText{
  0%{
  opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* LOGO ANIMATE COLLAPSE SETTINGS */
.mainLogo-is-collapsed{
  display: block;
  left:10px;
  background: green;

  #tech{
    opacity: 0;
      animation: collapseTechText 0.2s alternate;
  }
  @keyframes collapseTechText{
    0%{
    opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }


  #check-box{
    animation: collapseCheckBox 0.3s alternate;
    transform-origin:-30px 0px;
  }

   #N{
     animation: collapseN 0.3s alternate;
    transform: translate(-60px);
  }

  @keyframes collapseCheckBox{
    0%{
    transform-origin:0px 0px;
    }
    100%{
      transform-origin:-30px 0px;
    }
  }
  @keyframes collapseN{
    0%{
    transform: translate(0px);
    }
    100%{
      transform: translate(-60px);
    }
  }

}

/* LOGO ANIMATE NORMAL SETTINGS */

#check-box{
  animation: expandCheckBox 0.3s alternate;
  transform-origin:0px 0px;
}

 #N{
   animation: expandN 0.3s alternate;
  transform: translate(0px);
}

@keyframes expandCheckBox{
  0%{
  transform-origin:-30px 0px;

  }
  100%{
      transform-origin:0px 0px;
  }
}
@keyframes expandN{
  0%{
  transform: translate(-60px);

  }
  100%{
  transform: translate(0px);
  }
}

/* animation of list items names collapsing */
.sidebar-menu-name {
  button{
    display: flex;
    justify-content: center;
    width: 100%;
    background: none;
    border: none;
    a{
      display: flex;
      align-items: baseline;
    }
     span{
      display: block;
      font-size: 16px;
      padding-top: 15px;
    }


    visibility: visible;
     opacity: 1;
  }
}
.sidebarMenuLink-is-collapsed{
  display: flex;
  .btn-sidebar-menu-collapsed{
    margin-bottom: 50px !important;
  }
  button span{
    display: none;
  }
   span{
    display: none;
  }
  a:nth-child(1){
    width: 100%;
    .sidebar-icon-create-event{
      padding-left: 0 !important;
    }
  }
}
.sidebarMenuLink-is-collapsed:nth-child(2){
  min-height:90px;
}

.buttonSidebar-is-collapsed{
  //  transform:translate(20px,10px);
   transform:translate(0px,0px);
}
.btn-sidebar-menu-collapsed {
  span{
    margin-top: 22px;
  }
}

@media screen and (max-width: 670px){
  .sidebar{
    display: none;
  }
  .main-container{
    margin-left: 0px;
  }
}
