.iCarouselArticles{
	padding: 40px 0px;
	position:relative;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel__nav {
	z-index: 10;
    position: relative;

    button {
    	background-color: rgba(0, 0, 0, 0);
        border: 0;
    }
}

.carousel__button--prev, .carousel__button--next{
	top: 0;
	bottom: 0;
}

.carousel__button--prev{
	left: 0;
	top: 70px;
	position: absolute;
}

.carousel__button--next{
	right: 0;
	top: 70px;
	position: absolute;
}

.carousel__container {
	overflow: hidden;
	height: 220px;
	max-width: 100%;
}

.carousel__list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.carousel__list.unwrap{
	flex-wrap: nowrap;
}

.carousel__item{
	text-align: center;
	line-height: 30px;
	border: 1px solid #fff;
	padding: 0 10px;
}

.carousel-image {
	display: flex;
	flex-direction: column;
	background-color: orange;
	height: 200px;
	width: 333px;
	box-shadow: 0px 20px 50px -16px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 20px 50px -16px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 20px 50px -16px rgba(0,0,0,0.5);
}


.carosel-textbox {
	background-color: #1ABC9C;
    height: 136px;
    align-items: center;
    display: flex;


    	p {
    		line-height: 1.4;
			padding: 20px;
    		color: #FFFFFF;
    		background-color: #1ABC9C;
    		font-family: "Source Sans Pro";
    		font-size: 24px;
    		font-weight: 600;
    		line-height: 31px;
    		text-align: center;
    		text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    		margin-bottom: 105px;

    	}

    	:hover {
    			background-color: rgba(0,0,0,0.5);
    	}
}

.event-card-carosel{
    max-height: 200px;
    height: 100%;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
  }

.carosel-active {
    background: $primaryRed;
    color: #fff;
}

#carosel-active-span {
    color: white;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-event-hedline {
    text-align: center;
    color: $primaryBlack;
}

.stats-publish-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid $borderGray;
    width: 60vw; 
    max-height: 100px;
    height: 100%;
    padding: 20px;
    margin: 20px 0;
}

.stats-publish-button {
    height: 50px;
    width: 105px;
    border-radius: 25px;
    font-family: 'SourceSansPro-Regular';
    font-weight: 300;
    font-size: 1em;
}

.stats-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border: 1px solid $borderGray;
    padding: 20px;
    margin: 20px 0; 
}

.stats-ticket-hedline,
.stats-price,
.stats-event-hedline {
    font-size: 1.5em;
}

.stats-price-info {
    font-size: 3em;
}

hr {
    display: block;
    width: 90%;
    border: 0;
    border-top: 1px solid $borderGray;
    margin-bottom: 3em;
    padding: 0;
}

.stats-price-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-event-info-container {
    width: 45vw;
    border: 1px solid $borderGray;
    padding: 40px;
    margin: 20px 0; 
}

.stats-event-hedline {
    margin-bottom: 20px;    
}

.stats-event-layout,
.stats-scedule-layout {
    display: flex;
    justify-content: space-between;
}

.stats-event-hedlines {
    margin: 10px 40px 0 40px;
}

.stats-event-hedline-small {
    margin-bottom: 10px;
    font-weight: 600;
}

.stats-event-description {
    margin-bottom: 10px;
    font-weight: 400;
}

.stats-event-date {
    margin-top: 20px;
}

.stats-event-dec,
.stats-event-description-info {
    margin-top: 25px;
}

.stats-event-location,
.stats-event-cat-info {
    margin-top: 60px;
}

.stats-event-cat {
    margin-top: 195px;
}

.stats-event-date-info {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.stats-event-date-from {
    margin-right: 20px; 
}

.stats-event-location-info {
    margin-top: 23px;
}

.stats-row {
    display: flex;
    justify-content: space-around;
}

.stats-event-text {
    margin-top: 10px;
}

.stats-scedule-container {
    width: 25vw;
    border: 1px solid #E9E9E9;
    padding: 40px;
    margin: 20px 0;
}

.stats-schedule-timestamp {
    font-weight: 300;
    margin-top: 38px;
    &:first-child {
        margin-top:0;
    }
}

.stats-schedule-img {
    margin-top: -35px;
}

.stats-schedule-dec-location img {
    margin-right: 10px;
}
