{{!-- layouts/base.hbs --}}
<!doctype html>
<html>

  <head>
    <title>
        {{#if title}} {{title}} {{else}} Base Page Title {{/if}}
    </title>
    <link rel="stylesheet" href="css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#> head-block}}
        {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
  </head>

    <body>

      {{#> sidebar-block}}
          {{> includes/sidebar}}
          {{> includes/sidebarMobile}}
      {{/sidebar-block}}

      {{!-- {{#> sidebarMobile-block}}

          {{> includes/sidebarMobile}}
      {{/sidebarMobile-block}} --}}



        <div class="main-container">

          {{#> header-block}}
          {{/header-block}}


          {{#> container-block}}
              {{> layouts/events-list}}
          {{/container-block}}

        </div>




        {{#> scripts-block}}
            {{!-- Custom scripts per page can be added. --}}
        {{/scripts-block}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/handlebars.js"></script>
        <script src=".././helpers/links.js"></script>

    </body>

</html>
