<div class="form-container">
    <div class="edit-form">
        <div class="edit-form-header">
            <div>Create User</div>
            <a href="/events"><img src="../../images/icons/close.svg" alt="Close"></a>
        </div>
        <div class="edit-form-container">
            <form action="/events">
                <input class="input-box" type="text" name="Name" placeholder="Name"><br>
                <input class="input-box" type="text" name="Email" placeholder="Email"><br>
                <input class="input-box" type="text" name="PhoneNumber" placeholder="Phone Number"><br>
                <input class="input-box" type="text" name="Username" placeholder="Username"><br>
                <input class="input-box" type="text" name="tempPass" placeholder="Temporary password"><br>
                <input class="input-button" type="submit" value="Create User">
            </form>
        </div>
    </div>
</div>
