<div class="form-container">
    <div class="edit-form">
        <div class="edit-form-header">
            <div>Create Event</div>
            <a href="/events"><img src="../../images/icons/close.svg" alt="Close"></a>
        </div>
        <div class="edit-form-container">
            <form action="/events">
                <input class="input-box" type="text" name="firstname" placeholder="Title"><br>
                <input class="input-box" type="text" name="lastname" placeholder="Date"><br>
                <input class="input-box" type="text" name="lastname" placeholder="Location"><br>
                <input class="input-box" type="text" name="lastname" placeholder="Catagories"><br>
                <input class="input-box" type="text" name="lastname" placeholder="Description"><br>
                <input class="input-button" type="submit" value="Create Event">
            </form>
        </div>
    </div>
</div>
