<div class="event-card-delete-container">
<div class="event-card-delete" >
    <h3>Delete this event?</h3>
    <div class="event-card-buttons">
        <div class="event-card-hover-delete-button">
            <a href="/events"><button class="button-delete" >Yes, Delete</button></a>
        </div>
        <div class="event-card-hover-cancel-button">
            <a href="/events"><p class="button-delete-cancel">Cancel</p></a>
        </div>
    </div>
    <p>Caution: This cannot be undone</p>
</div>
</div>
