<div class="form-container">
    <div class="edit-form">
        <div class="edit-form-header">
            <div>Edit Partner</div>
            <a href="/partners"><img src="../../images/icons/close.svg" alt="Close"></a>
        </div>
        <div class="edit-form-container">
            <form action="/partners">
                <input class="input-box" type="text" name="Name" placeholder="Name"><br>
                <input class="input-box" type="text" name="Email" placeholder="Email"><br>
                <input class="input-box" type="text" name="lastname" placeholder="Phone Number"><br>
                <input class="input-box" type="text" name="lastname" placeholder="Partners Logo"><br>
                <input class="input-box" type="text" name="lastname" placeholder="Other Information"><br>
                <input class="input-button" type="submit" value="Edit Partner">
            </form>
        </div>
    </div>
</div>
