<div class="form-container">
    <div class="edit-form">
        <div class="edit-form-header">
            <div>Edit Shedule</div>
            <a href="/statistics"><img src="../../images/icons/close.svg" alt="Close"></a>
        </div>
        <div class="edit-form-container">
            <form action="/statistics">
                <input class="input-box" type="text" name="Title" placeholder="Title"><br>
                <input class="input-box" type="text" name="Time" placeholder="Time"><br>
                <input class="input-box" type="text" name="Location" placeholder="Location"><br>
                <hr/>
                <input class="input-box" type="text" name="Title" placeholder="Title"><br>
                <input class="input-box" type="text" name="Time" placeholder="Time"><br>
                <input class="input-box" type="text" name="Location" placeholder="Location"><br>
                <hr/>
                <input class="input-box" type="text" name="Title" placeholder="Title"><br>
                <input class="input-box" type="text" name="Time" placeholder="Time"><br>
                <input class="input-box" type="text" name="Location" placeholder="Location"><br>
                <hr/>
                <input class="input-box" type="text" name="Title" placeholder="Title"><br>
                <input class="input-box" type="text" name="Time" placeholder="Time"><br>
                <input class="input-box" type="text" name="Location" placeholder="Location"><br>
                
                <input class="input-button" type="submit" value="Edit Shedule">
            </form>
        </div>
    </div>
</div>
