{{!-- layout/events-list.hbs --}}
<div id="events-container">


<div class="event-time-filter">
  <div class="event-time-filter-box">
    <div class="event-time-filter-box-container">
  <div class="arrow-up">
    <svg width="17px" height="9px" viewBox="0 0 17 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="HD-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Events" transform="translate(-1331.000000, -466.000000)" fill-rule="nonzero" fill="#4E5058">
                <g id="Group-3" transform="translate(1324.000000, 466.000000)">
                    <g id="down-arrow" transform="translate(15.500000, 4.500000) rotate(180.000000) translate(-15.500000, -4.500000) translate(7.000000, 0.000000)">
                        <path d="M16.8260598,0.173913043 C16.5917544,-0.0579710145 16.211008,-0.0579710145 15.9767026,0.173913043 L8.5082165,7.57971014 L1.02508632,0.173913043 C0.790780879,-0.0579710145 0.41003453,-0.0579710145 0.175729084,0.173913043 C-0.0585763614,0.405797101 -0.0585763614,0.782608696 0.175729084,1.01449275 L8.06889379,8.82608696 C8.18604651,8.94202899 8.33248741,9 8.49357241,9 C8.64001331,9 8.8010983,8.94202899 8.91825103,8.82608696 L16.8114157,1.01449275 C17.0603653,0.782608696 17.0603653,0.405797101 16.8260598,0.173913043 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <svg width="17px" height="9px" viewBox="0 0 17 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="HD-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Events" transform="translate(-1331.000000, -466.000000)" fill-rule="nonzero" fill="#4E5058">
                <g id="Group-3" transform="translate(1324.000000, 466.000000)">
                    <g id="down-arrow" transform="translate(15.500000, 4.500000) rotate(180.000000) translate(-15.500000, -4.500000) translate(7.000000, 0.000000)">
                        <path d="M16.8260598,0.173913043 C16.5917544,-0.0579710145 16.211008,-0.0579710145 15.9767026,0.173913043 L8.5082165,7.57971014 L1.02508632,0.173913043 C0.790780879,-0.0579710145 0.41003453,-0.0579710145 0.175729084,0.173913043 C-0.0585763614,0.405797101 -0.0585763614,0.782608696 0.175729084,1.01449275 L8.06889379,8.82608696 C8.18604651,8.94202899 8.33248741,9 8.49357241,9 C8.64001331,9 8.8010983,8.94202899 8.91825103,8.82608696 L16.8114157,1.01449275 C17.0603653,0.782608696 17.0603653,0.405797101 16.8260598,0.173913043 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
  </div>
    <div> <span class="month">OKT</span><span  class="year">2016</span> </div>
    <div> <span  class="month">NOV</span><span  class="year">2017</span> </div>
    <div> <span  class="month">DES</span><span  class="year">2018</span> </div>

    <div class="arrow-up">

      <svg width="17px" height="9px" viewBox="0 0 17 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="HD-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Events" transform="translate(-1331.000000, -549.000000)" fill-rule="nonzero" fill="#4E5058">
                  <g id="Group-3" transform="translate(1324.000000, 466.000000)">
                      <g id="down-arrow" transform="translate(7.000000, 83.000000)">
                          <path d="M16.8260598,0.173913043 C16.5917544,-0.0579710145 16.211008,-0.0579710145 15.9767026,0.173913043 L8.5082165,7.57971014 L1.02508632,0.173913043 C0.790780879,-0.0579710145 0.41003453,-0.0579710145 0.175729084,0.173913043 C-0.0585763614,0.405797101 -0.0585763614,0.782608696 0.175729084,1.01449275 L8.06889379,8.82608696 C8.18604651,8.94202899 8.33248741,9 8.49357241,9 C8.64001331,9 8.8010983,8.94202899 8.91825103,8.82608696 L16.8114157,1.01449275 C17.0603653,0.782608696 17.0603653,0.405797101 16.8260598,0.173913043 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </svg>

      <svg width="17px" height="9px" viewBox="0 0 17 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="HD-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Events" transform="translate(-1331.000000, -549.000000)" fill-rule="nonzero" fill="#4E5058">
                  <g id="Group-3" transform="translate(1324.000000, 466.000000)">
                      <g id="down-arrow" transform="translate(7.000000, 83.000000)">
                          <path d="M16.8260598,0.173913043 C16.5917544,-0.0579710145 16.211008,-0.0579710145 15.9767026,0.173913043 L8.5082165,7.57971014 L1.02508632,0.173913043 C0.790780879,-0.0579710145 0.41003453,-0.0579710145 0.175729084,0.173913043 C-0.0585763614,0.405797101 -0.0585763614,0.782608696 0.175729084,1.01449275 L8.06889379,8.82608696 C8.18604651,8.94202899 8.33248741,9 8.49357241,9 C8.64001331,9 8.8010983,8.94202899 8.91825103,8.82608696 L16.8114157,1.01449275 C17.0603653,0.782608696 17.0603653,0.405797101 16.8260598,0.173913043 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
        </div>
    </div>
    </div>
</div>




<div class="events-grid-container">

  <div class="event-time-1">
    <span>Nov 2017</span>
  </div>
    {{!-- Cards --}}
    <div class="event-1 event-card-container" >
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>5 NOV 08:30</span>
          <h2>Elasticsearch & Kafka event </h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-2 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>7 NOV 17:30</span>
          <h2>A experience using Scrum</h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-3 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>9 NOV 17:30</span>
          <h2>CEOtalk with Jaume Su単ol </h2>
          <span>Big Projects / Management</span>
        </a>
    </div>
    <div class="event-4 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>14 NOV 17:30</span>
          <h2>Afterwork Women in Mobile. </h2>
          <span>Mobile Apps / Programming / Java</span>
        </a>
    </div>
    <div class="event-5 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
      <a href="" class="events-card card">
        <span>12 NOV 16:30</span>
        <h2>Angular new features </h2>
        <span>Web Apps / Programming / Angular</span>
      </a>
    </div>
    <div class="event-6 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>5 NOV 08:30</span>
          <h2>Elasticsearch & Kafka event </h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-7 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>7 NOV 17:30</span>
          <h2>A experience using Scrum</h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-8 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>9 NOV 17:30</span>
          <h2>CEOtalk with Jaume Su単ol </h2>
          <span>Big Projects / Management</span>
        </a>
    </div>
    <div class="event-time-1">
      <span>Des 2017</span>
    </div>
    <div class="event-9 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>14 NOV 17:30</span>
          <h2>Afterwork Women in Mobile. </h2>
          <span>Mobile Apps / Programming / Java</span>
        </a>
    </div>
    <div class="event-10 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>5 NOV 08:30</span>
          <h2>Elasticsearch & Kafka event </h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-11 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>7 NOV 17:30</span>
          <h2>A experience using Scrum</h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-12 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>9 NOV 17:30</span>
          <h2>CEOtalk with Jaume Su単ol </h2>
          <span>Big Projects / Management</span>
        </a>
    </div>
    <div class="event-13 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>14 NOV 17:30</span>
          <h2>Afterwork Women in Mobile. </h2>
          <span>Mobile Apps / Programming / Java</span>
        </a>
    </div>
    <div class="event-14 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>5 NOV 08:30</span>
          <h2>Elasticsearch & Kafka event </h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-15 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>7 NOV 17:30</span>
          <h2>A experience using Scrum</h2>
          <span>Skrum / Agile / Project Management</span>
        </a>
    </div>
    <div class="event-16 event-card-container">
        <div class="event-card-hover">
            <div class="event-card-header">
                <a href="/edit-event"><img src="../../images/icons/edit-pencil.svg" alt="edit"></a>
                <a href="/delete-event"><img src="../../images/icons/garbage.svg" alt="delete"></a>
            </div>
            <div class="event-card-hover-button">
                <a href="/statistics"><button class="button-veiw-event" >View Event</button></a>
            </div>
        </div>
        <a href="" class="events-card card">
          <span>9 NOV 17:30</span>
          <h2>CEOtalk with Jaume Su単ol </h2>
          <span>Big Projects / Management</span>
        </a>
    </div>
</div>
</div>
<style>
  #events-logo{
    fill:#E74C3C;
  }
  .events-logo-text{
    color:#E74C3C;
  }
</style>
