{{!-- layout/partners-list.hbs --}}

<div class="partners-grid-container">

    {{!-- Cards --}}
    <div class="partner-1">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-2">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-3">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-4">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-5">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-6">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-7">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-8">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-9">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-10">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-11">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-12">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-13">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-14">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-15">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
    <div class="partner-16">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <span>Email:</span><br>
                <span>Tel:</span>
            </article>

        </a>
    </div>
</div>