{{!-- layout/partners-list.hbs --}}

<div class="partners-grid-container">

    {{!-- Cards --}}
    <div class="partner-1">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@nordea.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-2">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/Amazon.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@amazon.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-3">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/cocacola.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@cocacola.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-4">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/facebook.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@facebook.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-5">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/gillette.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@gillette.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-6">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/git.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@git.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-7">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/google.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@google.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-8">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nasa.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@nasa.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-9">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nike.jpeg);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@nike.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-10">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/redbull.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@redbull.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-11">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/redux.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@redux.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-12">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/youtube.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@youtube.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-13">
         <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/cocacola.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@cocacola.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-14">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/git.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@git.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-15">
       <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/redbull.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@redbull.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-16">
         <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/Amazon.png);"></div>
            <article>
                <img src="../../images/icons/email.svg" alt="Email">
                <span>jhondoe@amazon.dk </span><br>
                <img src="../../images/icons/phone.svg" alt="Phone number">
                <span>+45 3464 4322</span>
            </article>

        </a>
    </div>
</div>
