{{!-- layout/partners-list.hbs --}}

<div class="partners-grid-container">

    {{!-- Cards --}}
    <div class="partner-1">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nordea.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@nordea.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-2">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/Amazon.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@amazon.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-3">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/cocacola.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@cocacola.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-4">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/facebook.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@facebook.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-5">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/gillette.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@gillette.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-6">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/git.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@git.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-7">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/google.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@google.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-8">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nasa.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@nasa.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-9">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/nike.jpeg);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@nike.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-10">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/redbull.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@redbull.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-11">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/redux.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@redux.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-12">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/youtube.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@youtube.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-13">
         <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/cocacola.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@cocacola.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-14">
        <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/git.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@git.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-15">
       <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/redbull.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@redbull.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
    <div class="partner-16">
         <a href="" class="partners-card card">
            <div class="partner-thumb" style="background-image: url(../../images/logo/Amazon.png);"></div>
            <article>

                <span><img src="../../images/icons/email.svg" alt="Email"> jhondoe@amazon.dk </span>

                <span><img src="../../images/icons/phone.svg" alt="Phone number"> +45 3464 4322</span>
            </article>

        </a>
    </div>
</div>

<style>
  #partners-logo{
    fill:#E74C3C;
  }
  .partners-logo-text{
    color:#E74C3C;
  }
</style>
