		<div class="iCarouselArticles js-carousel">
			<div class="carousel__container js-carousel-container">
				<div class="carousel__nav">
					<button class="carousel__button--prev js-carousel-button" data-dir="prev">
						<div class="carousel-button-image">
							<img src="../../images/icons/carosel-left.svg">
						</div>
					</button>
					<button class="carousel__button--next js-carousel-button" data-dir="next">
						<div class="carousel-button-image">
							<img src="../../images/icons/carosel-right.svg">
						</div>
					</button>
				</div>
				<div class="carousel__list js-carousel-list">
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>5 NOV 08:30</span>
                                <h2>Elasticsearch & Kafka event </h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>7 NOV 17:30</span>
                                <h2>A experience using Scrum</h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>9 NOV 17:30</span>
                                <h2>CEOtalk with Jaume Su単ol </h2>
                                <span>Big Projects / Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card carosel-active">
                                <span id="carosel-active-span">14 NOV 17:30</span>
                                <h2>Afterwork Women in Mobile. </h2>
                                <span id="carosel-active-span">Mobile Apps / Programming / Java</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                             <a href="" class="events-card card">
                                <span>12 NOV 16:30</span>
                                <h2>Angular new features </h2>
                                <span>Web Apps / Programming / Angular</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>5 NOV 08:30</span>
                                <h2>Elasticsearch & Kafka event </h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>7 NOV 17:30</span>
                                <h2>A experience using Scrum</h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>5 NOV 08:30</span>
                                <h2>Elasticsearch & Kafka event </h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>9 NOV 17:30</span>
                                <h2>CEOtalk with Jaume Su単ol </h2>
                                <span>Big Projects / Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                             <a href="" class="events-card card">
                                <span>14 NOV 17:30</span>
                                <h2>Afterwork Women in Mobile. </h2>
                                <span>Mobile Apps / Programming / Java</span>
                            </a>
                        </div>
					</div>
                    <div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>5 NOV 08:30</span>
                                <h2>Elasticsearch & Kafka event </h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>7 NOV 17:30</span>
                                <h2>A experience using Scrum</h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>9 NOV 17:30</span>
                                <h2>CEOtalk with Jaume Su単ol </h2>
                                <span>Big Projects / Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>14 NOV 17:30</span>
                                <h2>Afterwork Women in Mobile. </h2>
                                <span>Mobile Apps / Programming / Java</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                             <a href="" class="events-card card">
                                <span>12 NOV 16:30</span>
                                <h2>Angular new features </h2>
                                <span>Web Apps / Programming / Angular</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>5 NOV 08:30</span>
                                <h2>Elasticsearch & Kafka event </h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>7 NOV 17:30</span>
                                <h2>A experience using Scrum</h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>5 NOV 08:30</span>
                                <h2>Elasticsearch & Kafka event </h2>
                                <span>Skrum / Agile / Project Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                            <a href="" class="events-card card">
                                <span>9 NOV 17:30</span>
                                <h2>CEOtalk with Jaume Su単ol </h2>
                                <span>Big Projects / Management</span>
                            </a>
                        </div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="event-1 event-card-carosel" >
                             <a href="" class="events-card card">
                                <span>14 NOV 17:30</span>
                                <h2>Afterwork Women in Mobile. </h2>
                                <span>Mobile Apps / Programming / Java</span>
                            </a>
                        </div>
					</div>


				</div>
			</div>
		</div>
        <div class="stats-container">
            <div class="stats-event-hedline">
                <h2>Afterwork Women in Mobile</h2>
            </div>

            <div class="stats-publish-event">
                <div class="stats-publish-text">
                    <span>This Event has not been published. If you press publish, the event will be shown on the main page</span>
                </div><br>
                <button class="stats-publish-button">Publish</button>
            </div>
        </div>
        <div class="stats-tickets">
            <div class="stats-ticket-hedline">Tickets</div>
            <div class="stats-pie-chart-container">
                <div class="stats-pie-chart-info">
                    <div class="stats-circle-left">
                        <div class="stats-circle green">
                        </div>
                        <div class="stats-circle-info">
                            Tickets sold 53
                        </div>
                    </div>
                    <div class="stats-circle-right">
                        <div class="stats-circle green">
                        </div>
                        <div class="stats-circle-info">
                            Tickets remaining 53
                        </div>
                    </div>
                </div>
                <div class="stats-pie-chart">

                </div>
            </div>

        </div>
 