		<div class="iCarouselArticles js-carousel">
			<div class="carousel__container js-carousel-container">
				<div class="carousel__nav">
					<button class="carousel__button--prev js-carousel-button" data-dir="prev">
						<div class="carousel-button-image">
							<img src="../../images/icons/carosel-left.svg">
						</div>
					</button>
					<button class="carousel__button--next js-carousel-button" data-dir="next">
						<div class="carousel-button-image">
							<img src="../../images/icons/carosel-right.svg">
						</div>
					</button>
				</div>
				<div class="carousel__list js-carousel-list">
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://www.aboutcancer.com/jama_brain_images.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Webinar: Can the ECB taper without a tantrum?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://details-of-cars.com/wp-content/uploads/2014/12/General-motors-hybrid-1.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Nordea On Your Mind: The death of dirty investing</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="https://i.pinimg.com/736x/2a/40/dd/2a40ddd178a4598a5ad2e0f3888db2f5--photo-blanket-photo-center.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Webinar: Can the ECB taper without a tantrum?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://www.popastro.com/images/deep%20sky/2015.09.%20NGC7023_LRGB%20David%20Davies.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Nordea On Your Mind: The death of dirty investing</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://details-of-cars.com/wp-content/uploads/2014/12/General-motors-hybrid-1.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Webinar: Can the ECB taper without a tantrum?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://www.aboutcancer.com/jama_brain_images.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Nordea On Your Mind: The death of dirty investing</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="https://i.pinimg.com/736x/2a/40/dd/2a40ddd178a4598a5ad2e0f3888db2f5--photo-blanket-photo-center.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Webinar: Can the ECB taper without a tantrum?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://details-of-cars.com/wp-content/uploads/2014/12/General-motors-hybrid-1.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Nordea On Your Mind: The death of dirty investing</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://www.popastro.com/images/deep%20sky/2015.09.%20NGC7023_LRGB%20David%20Davies.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Webinar: Can the ECB taper without a tantrum?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel__item js-carousel-item">
						<div class="carousel-image">
							<img src="http://www.aboutcancer.com/jama_brain_images.jpg">
							<div class="carosel-textbox">
								<div>
									<p>Nordea On Your Mind: The death of dirty investing</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
