
<!doctype html>
<html>

  <head>
    <title>
         Page Two 
    </title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

    <body>
    <div class="header-wraper">
      <img src="http://fpoimg.com/400x400" alt="header 2 alt title"/>
    </div>

      <div id="sidebar" >
        <ul>
          <li><a href="#">test</a></li>
          <li><a href="#">test3</a></li>
          <li><a href="#">test5</a></li>
          <li><a href="#">test6</a></li>
        </ul>
      </div>


    <footer>
    <p>We are now overriding the default "footer-block" content with this content.</p>
    </footer>

    <script src="main.js"></script>
    </body>

</html>
